In [2]:
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import requests
import numpy as np

In [6]:
res=requests.get('http://localhost:4000/api/v1/other/dataset').json()
res

[{'userId': 'NA',
  'userGender': 'Male',
  '_id': '662f8188ce57e164ba06edc0',
  'mark': True,
  'adventurous': 3,
  'senseOfHumor': 5,
  'communicationImportance': 4,
  'introvertedVsExtroverted': 5,
  'spontaneity': 4,
  'foodAdventurousness': 3,
  'neatness': 6,
  'aloneTimeVsTimeWithOthers': 4,
  'opennessToNewActivities': 8,
  'honestyImportance': 8,
  '__v': 0},
 {'userId': 'NA',
  'userGender': 'Male',
  '_id': '662fda79321a690de025ef0c',
  'mark': False,
  'adventurous': 1,
  'senseOfHumor': 1,
  'communicationImportance': 1,
  'introvertedVsExtroverted': 1,
  'spontaneity': 1,
  'foodAdventurousness': 1,
  'neatness': 1,
  'aloneTimeVsTimeWithOthers': 1,
  'opennessToNewActivities': 1,
  'honestyImportance': 1,
  '__v': 0},
 {'userId': 'NA',
  'userGender': 'Male',
  '_id': '662fdc4b4757ebd22dbcce95',
  'mark': True,
  'adventurous': 6,
  'senseOfHumor': 6,
  'communicationImportance': 5,
  'introvertedVsExtroverted': 6,
  'spontaneity': 7,
  'foodAdventurousness': 7,
  'neatness': 9,
  'aloneTimeVsTimeWithOthers': 9,
  'opennessToNewActivities': 10,
  'honestyImportance': 8,
  '__v': 0},
 {'userId': 'NA',
  'userGender': 'Male',
  '_id': '662fe2bf95dcc8412bf510d5',
  'mark': False,
  'adventurous': 1,
  'senseOfHumor': 1,
  'communicationImportance': 1,
  'introvertedVsExtroverted': 1,
  'spontaneity': 1,
  'foodAdventurousness': 1,
  'neatness': 1,
  'aloneTimeVsTimeWithOthers': 1,
  'opennessToNewActivities': 1,
  'honestyImportance': 1,
  '__v': 0},
 {'userGender': 'Male',
  '_id': '66326b11fc6d52f21ff40717',
  'mark': True,
  'userId': '66326b11fc6d52f21ff40719',
  'adventurous': 5,
  'senseOfHumor': 6,
  'communicationImportance': 6,
  'introvertedVsExtroverted': 8,
  'spontaneity': 7,
  'foodAdventurousness': 10,
  'neatness': 7,
  'aloneTimeVsTimeWithOthers': 6,
  'opennessToNewActivities': 7,
  'honestyImportance': 6,
  '__v': 0}]

In [7]:

data=pd.DataFrame(res)
data=data.drop(columns=['_id','mark','userGender','__v'])
X=data.drop(columns=['userId'])
data

,userId,adventurous,senseOfHumor,communicationImportance,introvertedVsExtroverted,spontaneity,foodAdventurousness,neatness,aloneTimeVsTimeWithOthers,opennessToNewActivities,honestyImportance
0,NA,3,5,4,5,4,3,6,4,8,8
1,NA,1,1,1,1,1,1,1,1,1,1
2,NA,6,6,5,6,7,7,9,9,10,8
3,NA,1,1,1,1,1,1,1,1,1,1
4,66326b11fc6d52f21ff40719,5,6,6,8,7,10,7,6,7,6

In [122]:
k=5

In [8]:
knn = NearestNeighbors(n_neighbors=k, metric="euclidean")
knn.fit(X)

NameError: name 'k' is not defined

In [9]:
def predict_similar_users(row):
    # Convert row to DataFrame
    row_data = pd.DataFrame([row])
    
    # Extract features (excluding userId)
    row_features = row_data.drop(columns=["userId"])
    
    # Find indices of nearest neighbors
    distances, indices = knn.kneighbors(row_features)
    
    # Get similar users' indices
    similar_users_indices = indices[0]
    
    # Get similar users' userIds
    similar_users = data.iloc[similar_users_indices]["userId"].tolist()
    
    return similar_users

In [10]:
row = {
    "userId": "66326b11fc6d52f21ff40719",
   "adventurous":5,"senseOfHumor":6,"communicationImportance":6,"introvertedVsExtroverted":8,"spontaneity":7,"foodAdventurousness":10,"neatness":7,"aloneTimeVsTimeWithOthers":6,"opennessToNewActivities":7,"honestyImportance":6
    # Add other features as needed
}

In [11]:

similar_users = predict_similar_users(row)
print("Similar users:", similar_users)

NameError: name 'knn' is not defined